.threesection {
  border-radius: 45px;
  background: #fff;
  width: 1200px;
  margin: 0 auto;
  border-radius: 45px;
background: #FFF;
padding: 49px 30px;
}

h5 {
  color: #3257a4;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 60px;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

section .card {
  width: 200px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px gray;
  border-radius: 10px;
  margin: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.imagehomersection{
  transition:.5s;
  border-radius: 10px;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.imagehomersection:hover {
  background: #fff;
  transform: scale(1.1);
  transition: .5s;
  text-align: center;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

